[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "3rd/lua-filesystem"]
	path = 3rd/lua-filesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "3rd/lua-protobuf"]
	path = 3rd/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
